body {
    background-color: rgb(62, 39, 35); /* Atte- Mörkbrun bakgrundsfärg */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Atte- Typsnittsstil */
}

.wrapper{ /*Sean-*/
    display: grid; /*Sean- Låter mig skapa en grid med hjälp av rader och kolumner*/
    width: 95%; /*Sean- Bredd, 95% av body*/
    height: 90%; /*Sean- Höjd, 90% av body*/
    position: absolute; /*Sean- När position har ett värde av absolute så kan man flytta objektet utan att andra element påverkar eller påverkas*/
    top: 50%; /*Sean- Flyttar wrapper 50% av sidans höjd nedåt*/
    left: 50%; /*Sean- Flyttar wrapper 50% av sidans längd till höger*/
    transform: translate(-50%, -50%); /*Sean- Gör så att wrapper hamnar i mitten med hjälp av top och left attributen över*/
    grid-template-rows: 15vmin 75vh 5vmin; /*Sean- Skapar 3 rader, vmin måttet gör så att storleken använder sig av vw eller vh beroende på vilken som är minst vilket gör den responsiv. Senare i koden gör jag så att header och nav sätts bredvid varandra på den första raden*/
    grid-template-columns: 1fr 1fr; /*Sean- Skapar 2 kolumner, på grund av att header och nav är bredvid varandra på den första raden tar de upp var sin kolumn, senare i koden har jag gjort så att main tar upp båda kolumnerna*/
}

header{ /*Sean-*/
    text-align: center; /*Sean-*/
    border: black solid 0.5vmin; /*Sean-*/
    border-top-left-radius: 16px; /*Sean- Rundar av hörnet längst upp till vänster*/
    border-bottom-left-radius: 16px; /*Sean- Rundar av hörnet längst ner till vänster*/
    border-right: none; /*Sean- Tar bort border på höger sidan*/
    background-color: rgb(255, 171, 64);
} 

header > a > p{ /*Sean-*/
    margin: 3vmin; /*Sean-*/
    font-size: 6vmin; /*Sean-*/
}

a:link{ /*Sean- Attribut skrivet under påverkar bara detta element när det är oklickt*/
    color: rgb(0, 0, 0);
    text-decoration: none; /*Sean- Tar bort strecket under texten*/
}

a:visited{ /*Sean- Attribut skrivet under påverkar bara detta element när det är klickt*/
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:focus{ /*Sean- Attribut skrivet under påverkar bara detta element när det är i fokus genom att klicka Tab*/
    color: rgb(50, 50, 50);   
    text-decoration: none;
}

a:hover{ /*Sean- Attribut skrivet under påverkar bara detta element när det är i fokus genom att ha muspekaren över länken*/
    color: rgb(109, 74, 74);   
    text-decoration: none;
}

a:active{ /*Sean- Attribut skrivet under påverkar bara detta element när elementet hållerpå att bli klickad*/
    color: rgb(53, 49, 255);   
    text-decoration: none;
}

nav{ /*Sean-*/
    text-align: center; /*Sean- Centrerar texten*/
    border: rgb(0, 0, 0) solid 0.5vmin; /*Sean-*/
    border-top-right-radius: 16px; /*Sean-*/
    border-left: none; /*Sean- Tar bort border på vänster sida*/
    background-color: rgb(255, 171, 64);
}

h1, h2{ /*Sean-*/
    margin: 3vmin; /*Sean- Mellanrum för att flytta titlarna till mitten vertikalt*/
    font-size: 6vmin; /*Sean- Storlek på text*/
}

#nav-kontakta{
    border-bottom-right-radius: 16px;
}

main{ /*Sean-*/
    grid-column: span 2; /*Gör så att main tar upp båda kolumnerna i wrapper*/
    border-bottom-left-radius: 16px; /*Sean-*/
}

h3{ /*Sean-*/
    font-size: 5vmin;
    margin: 0;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

main > .container > section > p{
    margin-left: 1em;
}

.container > section{ /*Sean-*/
    background-color: rgb(255, 171, 64); /*Artush- */
    border: 0.3vmin solid rgb(0, 0, 0); /*Sean-*/
    border-radius: 16px; /*Sean-*/
    width: 90%; /*Sean-*/
    height: 65vmin; /*Sean-*/
    transform: translate(6%, 5%); /*Sean- Ändrar positionen av alla section inuti händelserContainer*/
    overflow: hidden;
}

p, a{ /*Sean-*/
    margin: 0; /*Sean-*/
    width: fit-content;
}

.container{ /*Sean-*/
    height: 100%; /*Sean-*/
    width: 100%; /*Sean-*/
    overflow: hidden scroll; /*Sean-*/
}

.container > section:nth-child(1){ /*Sean-*/
    margin-top: 1vmin; /*Sean-*/
}

.container > section:not(:first-child) { /*Sean-*/
    margin-top: 8%; /*Sean-*/
}

.container > section:nth-last-child(1){ /*Sean-*/
    margin-bottom: 8vmin; /*Sean-*/
}

.container > section:hover{ /*Atte-*/
    transform: translate(6%, 5%) /*Sean- Ändrar positionen vid hover till original position*/ scale(1.02); /* Atte- Lätt förstoringseffekt vid hover */
    transition: transform 0.3s; /* Atte- Smidig övergångseffekt */
    top: 50%; /*Atte-*/
    left: 50%; /*Atte-*/
}

.container > section > p, .container > section > a:not(.button) > p, .container > section > address{ /*Sean-*/
    font-size: 3vmin; /*Sean-*/
    line-height: 10vmin; /*Sean-*/
    margin-left: 1em; /*Sean-*/
}
.container > section > a:not(.button){ /*Sean-*/
    text-decoration: underline; /*Sean- Lägger tillbaks understrecket understrecket i alla anchor element som inte har en klass av "button"*/
    display: block; /*Sean- Sätter display till block så att jag kan ange höjd/bredd på anchor. Jag ggör detta så att man inte ska kunna klicka på länken som tar dig till google maps från andra sidan av händelse rutan*/
}

.openPopup{ /*Sean- Mer info knapp*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 250%);
    padding: 0;
    cursor: pointer; /*Sean- Gör så att när man har sin muspekare över mer info knappen så blir den till en pekande hand*/
    font-size: 2.5vmin;
}

.popup{ /*Sean-*/
    padding: 0.7em;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    font-size: 4vmin; /*Sean- Storlek på text*/
    background-color: rgb(255, 171, 64);
    overflow: hidden;
}

.popupDescription{ /*Sean-*/
    padding: 0.5em;
}

.closePopup{ /*Sean- Popup som dyker upp när man klickar på knapper*/
    padding: 0;
    cursor: pointer;
    font-size: 100%;
    position: absolute;
    right: 4vmin;
    top: 3vmin;
    border-radius: 16px;
}

[src="pil-ner.png"]{ /*Sean- src beskriver vilken fil (och var om den ligger i en mapp i vscode) som ska påverkas*/
    width: 5vmin;
    position: relative;
    left: 6.5vmin;
}

[src="kryss.png"]{ /*Sean-*/
    width: 10vmin;
}

[src="promenad.jpg"], [src="bingo.jpg"]{ /*Sean-*/
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30%, -50%);
    border-radius: 16px;
}

[src="bakar.png"]{ /*Sean-*/
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(60%, -50%);
    border-radius: 16px;
}

[src="golf.jpg"]{ /*Sean-*/
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30%, -50%);
    border-radius: 16px;
}

[src="bild.png"]{ /*Sean-*/
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(30%, -50%);
    border-radius: 16px;
    border: 0.3vmin rgb(0, 0, 0) solid;
}

.container > #kontakta:hover{ /*Sean- Tar bort hover effekterna från section med id kontakta*/
    transform: translate(6%, 5%) scale(1);
}

footer{ /*Sean- Sidfot*/
    grid-column: span 2;
}

.uppknapp, .nerknapp{
    width: 49%;
    height: 5vmin;
    font-size: 3vmin;
    border-radius: 10px;
    background-color: rgb(255, 171, 64);
    border: none;
    border: 0.4vmin solid rgb(0, 0, 0);
}

.nerknapp:focus, 
.uppknapp:focus, 
.nerknapp:hover, 
.uppknapp:hover{ /*Sean- Attribut skrivna under påverkar bara klasserna när de är i tillståndet focus och hover, alltså att man klickar Tab eller att muspekaren är över dem*/
    cursor: pointer;
    background-color: rgb(255, 210, 152);
}