.wrapper{
    display: grid;
    width: 95%;
    height: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%; /*Flyttar wrapper 50% av sidans höjd nedåt*/
    left: 50%; /*Flyttar wrapper 50% av sidans längd till höger*/
    transform: translate(-50%, -50%); /*Gör så att wrapper hamnar i mitten med hjälp av top och left attributen över*/
    grid-template-rows: 15vmin 1fr; /*Skapar 3 rader, vmin måttet gör så att storleken använder sig av vw eller vh beroende på vilken som är minst*/
    grid-template-columns: 2fr 1fr; /*Skapar 2 kolumner, sätter header och nav bredvid varandra på en rad, main och footer tar upp båda kolumnerna så att de hamnar på flera rader*/
}

header{
    text-align: center;
    align-items: center;
    border: black solid 2px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-right: none;
}

header > p{
    margin: 3vmin;
    font-size: 7vmin;
}

nav{
    text-align: center;
    align-items: center;
    border: black solid 2px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-left: none;
}

nav > a > p{
    margin: 4vmin;
    font-size: 5vmin;
}

main{
    grid-column: span 2; /*Gör så att main tar upp båda kolumnerna*/
    font-size: clamp(4vmin, 100px, 7vmin);
    overflow: hidden;
}

.händelserContainer{
    height: 100%;
    width: 100%;
    overflow: hidden scroll;
}

.händelserContainer > div{
    border: 2px solid black;
    border-radius: 16px;
    width: 90%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(6%, 13%);
}

.förstaHändelse{
    margin-top: 2%;
}

.händelserContainer div:not(.förstaHändelse) {
    margin-top: 10%;
}

.händelserContainer > div:hover {
    background-color: #ffab40; /* Atte- Mörkare orange vid hover */
    transform: translate(6%, 13%) scale(1.02); /* Atte- Lätt förstoringseffekt vid hover */
    transition: background-color 0.3s, transform 0.3s; /* Atte- Smidig övergångseffekt */
    top: 50%;
    left: 50%;
}

#sistaHändelse{
    margin-bottom: 5%;
}

.händelserContainer > div > p{
    margin-top: 25%;
    margin-left: 44%;
    margin-bottom: 0;
    font-size: 4vmin;
}

.händelserContainer > div > svg{
    margin-left: 50%;
    margin-bottom: 1%;
    font-size: 4vmin;
}

/*footer{
    grid-column: span 2; Gör så att footer tar upp båda kolumnerna
    border-top: black solid 2px;
}

footer > *{
    margin: 2.5vmin;
    font-size: 4vmin;
}*/