body {
    background-color: rgb(62, 39, 35); /* Atte- Mörkbrun bakgrundsfärg */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Atte- Typsnittsstil */
}

.wrapper{ /*Sean-*/
    display: grid; /*Sean-*/
    width: 95%; /*Sean-*/
    height: 90%; /*Sean-*/
    position: absolute; /*När position har ett värde av absolute så kan man flytta objektet utan att andra element påverkar eller påverkas*/
    top: 50%; /*Sean- Flyttar wrapper 50% av sidans höjd nedåt*/
    left: 50%; /*Sean- Flyttar wrapper 50% av sidans längd till höger*/
    transform: translate(-50%, -50%); /*Sean- Gör så att wrapper hamnar i mitten med hjälp av top och left attributen över*/
    grid-template-rows: 15vmin 75vh 5vmin; /*Sean- Skapar 2 rader, vmin måttet gör så att storleken använder sig av vw eller vh beroende på vilken som är minst vilket gör den responsiv. Senare i koden gör jag så att header och nav sätts bredvid varandra på den första raden*/
    grid-template-columns: 1fr 1fr; /*Sean- Skapar 2 kolumner, på grund av att header och nav är bredvid varandra på den första raden tar de upp var sin kolumn, senare i koden har jag gjort så att main tar upp båda kolumnerna*/
}

header{ /*Sean-*/
    text-align: center; /*Sean-*/
    border: black solid 4px; /*Sean-*/
    border-top-left-radius: 16px; /*Sean-*/
    border-bottom-left-radius: 16px; /*Sean-*/
    border-right: none; /*Sean-*/
    background-color: rgb(255, 171, 64);
} 

header > a > p{ /*Sean-*/
    margin: 3vmin; /*Sean-*/
    font-size: 6vmin; /*Sean-*/
}

a:link{ /*Sean- Attribut skrivet under påverkar bara detta element när det är en oklickt länk*/
    color: black;
    text-decoration: none;
}

a:visited{ /*Sean- Attribut skrivet under påverkar bara detta element när det är en klickt länk*/
    color: black;
    text-decoration: none;
}

a:focus{ /*Sean- Attribut skrivet under påverkar bara detta element när det är en länk i fokus genom att klicka Tab*/
    color: rgb(50, 50, 50);   
    text-decoration: none;
}

a:hover{ /*Sean- Attribut skrivet under påverkar bara detta element när det är en länk i fokus genom att ha muspekaren över länken*/
    color: rgb(109, 74, 74);   
    text-decoration: none;
}

a:active{ /*Sean- Attribut skrivet under påverkar bara detta element när det är en länk som hållerpå att bli klickad*/
    color: rgb(53, 49, 255);   
    text-decoration: none;
}

nav{ /*Sean-*/
    text-align: center; /*Sean-*/
    border: black solid 4px; /*Sean-*/
    border-top-right-radius: 16px; /*Sean-*/
    border-left: none; /*Sean-*/
    background-color: rgb(255, 171, 64);
}

nav > a > h1, header > a > h1{ /*Sean-*/
    margin: 3vmin; /*Sean-*/
    font-size: 6vmin; /*Sean-*/
}

#nav-kontakta{
    border-bottom-right-radius: 16px;
}

main{ /*Sean-*/
    grid-column: span 2; /*Gör så att main tar upp båda kolumnerna*/
    border-bottom-left-radius: 16px; /*Sean-*/
}

h1{ /*Sean-*/
    font-size: 5vmin; /*Sean-*/
    margin: 0em; /*Sean-*/
    margin-top: 0.5em;
    margin-left: 0.5em;
}

main > section > section > p{
    margin-left: 1em;
}

section > section{ /*Sean-*/
    background-color: rgb(255, 171, 64); /*Artush- */
    border: 2px solid black; /*Sean-*/
    border-radius: 16px; /*Sean-*/
    width: 90%; /*Sean-*/
    height: 65vmin; /*Sean-*/
    transform: translate(6%, 5%); /*Sean- Ändrar positionen av alla section inuti händelserContainer*/
    overflow: hidden;
}

p, a{ /*Sean-*/
    margin: 0; /*Sean-*/
    width: fit-content;
}

section{ /*Sean-*/
    height: 100%; /*Sean-*/
    width: 100%; /*Sean-*/
    overflow: hidden scroll; /*Sean-*/
}

section > section:nth-child(1){ /*Sean-*/
    margin-top: 1vmin; /*Sean-*/
}

section > section:not(:first-child) { /*Sean-*/
    margin-top: 8%; /*Sean-*/
}

section > section:nth-last-child(1){ /*Sean-*/
    margin-bottom: 7vmin; /*Sean-*/
}

section > section:hover{ /*Atte-*/
    transform: translate(6%, 5%) /*Sean- Ändrar positionen vid hover till original position*/ scale(1.02); /* Atte- Lätt förstoringseffekt vid hover */
    transition: transform 0.3s; /* Atte- Smidig övergångseffekt */
    top: 50%; /*Atte-*/
    left: 50%; /*Atte-*/
}

section > section > p, section > section > a:not(.button) > p, section > section > address{ /*Sean-*/
    font-size: 3vmin; /*Sean-*/
    line-height: 10vmin;
    margin-left: 1em;
}
section > section > a:not(.button){
    text-decoration: underline;
}

.openPopup{ /*Sean- Mer info knapp*/
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    padding: 0;
    cursor: pointer;
    font-size: 2.5vmin;
}

.popup > section{
    overflow: hidden;
}

.popup{
    padding: 0.7em;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    font-size: 4vmin;
    background-color: rgb(255, 171, 64);
    overflow: hidden;
}

.popup > p{
    position: relative;
    padding-left: 100px;
}

.closePopup{ /*Sean- Popup som dyker upp när man klickar på knapper*/
    padding: 0;
    cursor: pointer;
    font-size: 100%;
    position: absolute;
    left: 93%;
    top: 3%;
    border-radius: 16px;
}

[src="pil-ner.png"]{ /*Sean- Pil ner bilden*/
    width: 5vmin;
    position: relative;
    left: 6.5vmin;
}

[src="kryss.png"]{ /*Sean- Kryss bilden*/
    width: 10vmin;
}

[src="promenad.jpg"]{ /*Sean- Promenad bild*/
    width: 40%;
    position: absolute;
    top: 15%;
    left: 55%;
    border-radius: 16px;
}

#kontaktaOss{
    overflow: hidden;
}

#kontaktaOss > section:hover{
    transform: translate(6%, 5%) scale(1);
}

footer{
    grid-column: span 2;
}

.uppknapp, .nerknapp{
    width: 49%;
    height: 5vmin;
    font-size: 2em;
    border-radius: 10px;
    background-color: rgb(255, 171, 64);
    border: none;
}

.nerknapp:hover, .uppknapp:hover{
    cursor: pointer;
    background-color: rgb(255, 210, 152);
}