body {
    background-color: rgb(62, 39, 35); /* Atte- Mörkbrun bakgrundsfärg */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Atte- Typsnittsstil */
}

.wrapper{ /*Sean-*/
    display: grid; /*Sean-*/
    width: 95%; /*Sean-*/
    height: 90%; /*Sean-*/
    margin: 0; /*Sean-*/
    position: absolute;
    top: 50%; /*Sean- Flyttar wrapper 50% av sidans höjd nedåt*/
    left: 50%; /*Sean- Flyttar wrapper 50% av sidans längd till höger*/
    transform: translate(-50%, -50%); /*Sean- Gör så att wrapper hamnar i mitten med hjälp av top och left attributen över*/
    grid-template-rows: 15vmin 1fr; /*Sean- Skapar 2 rader, vmin måttet gör så att storleken använder sig av vw eller vh beroende på vilken som är minst vilket gör den responsiv. Senare i koden gör jag så att header och nav sätts bredvid varandra på den första raden*/
    grid-template-columns: 2fr 1fr; /*Sean- Skapar 2 kolumner, på grund av att header och nav är bredvid varandra på den första raden tar de upp var sin kolumn, senare i koden har jag gjort så att main tar upp båda kolumnerna*/
}

header{ /*Sean-*/
    text-align: center; /*Sean-*/
    border: black solid 2px; /*Sean-*/
    border-top-left-radius: 16px; /*Sean-*/
    border-bottom-left-radius: 16px; /*Sean-*/
    border-right: none; /*Sean-*/
} 

header > a > h1{ /*Sean-*/
    margin: 3vmin; /*Sean-*/
    font-size: 6vmin; /*Sean-*/
}

nav{ /*Sean-*/
    text-align: center; /*Sean-*/
    border: black solid 2px; /*Sean-*/
    border-top-right-radius: 16px; /*Sean-*/
    border-left: none; /*Sean-*/
}

nav > a > h2{ /*Sean-*/
    margin: 5vmin; /*Sean-*/
    font-size: 4vmin; /*Sean-*/
}

main{ /*Sean-*/
    grid-column: span 2; /*Gör så att main tar upp båda kolumnerna*/
    height: 79vh; /*Sean-*/
    border-top: none; /*Sean-*/
    border-bottom-left-radius: 16px; /*Sean-*/
}

p{ /*Sean-*/
    margin: 0; /*Sean-*/
} /*Sean-*/

.händelserContainer{ /*Sean-*/
    height: 100%; /*Sean-*/
    width: 100%; /*Sean-*/
    overflow: hidden scroll; /*Sean-*/
}

.händelserContainer > section{ /*Sean-*/
    background-color: rgb(255, 171, 64); /*Artush- */
    border: 2px solid black; /*Sean-*/
    border-radius: 16px; /*Sean-*/
    width: 90%; /*Sean-*/
    height: 70vmin; /*Sean-*/
    padding-left: 1%; /*Isak*/
    transform: translate(6%, 5%); /*Sean- Ändrar positionen av alla div inuti händelserContainer*/
}

.förstaHändelse{ /*Sean-*/
    margin-top: 1vmin; /*Sean-*/
}

.händelserContainer > section:not(.förstaHändelse) { /*Sean-*/
    margin-top: 8%; /*Sean-*/
}

#händelserContainer > section:hover{ /*Atte-*/
    transform: translate(6%, 5%) /*Sean- Ändrar positionen vid hover till original position*/ scale(1.02); /* Atte- Lätt förstoringseffekt vid hover */
    transition: transform 0.3s; /* Atte- Smidig övergångseffekt */
    top: 50%; /*Atte-*/
    left: 50%; /*Atte-*/
}

.sistaHändelse{ /*Sean-*/
    margin-bottom: 5%; /*Sean-*/
}

.händelserContainer > section > p{ /*Sean-*/
    font-size: 3vmin; /*Sean-*/
}

.händelserContainer > section > a{ /*Sean- Knappen på händelse rutorna*/
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    padding: 0;
    height: 5vmin;
    cursor: pointer;
    font-size: 100%;
}

dialog > section > a{ /*Sean- Popup som dyker upp när man klickar på knapper*/
    padding: 0;
    height: 5vmin;
    cursor: pointer;
    font-size: 100%;
}

[src="1024px-Feather-arrows-chevron-down.png"]{ /*Sean- Pil ner bilden*/
    width: 5vmin;
    position: relative;
    bottom: 20%;
}
dialog>p{
    font-size: 50%;
}
dialog>h4{
    font-size: 5em;
}
dialog{ /*fixar struktur i dialog, Isak*/
    width: 40%;
    padding: 1em; /*Sean- Ändra till 0 för att få*/
    height: 30%;
    font-size: 200%;
    background-color: rgb(255, 171, 64);
}
h3{/*fixar storlek i eventen*/
    font-size:200%;
}
section > section > a{ /*Fixar border runt knapparna*/
    border: 1px solid black;
    border-radius: 5%;
}
.closePopup > p{ /*Fixar tillbaka knappen, Isak*/
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0%;
    margin-left: 30%;
    width: 15vw;
    margin-top: 8vh;
    border: 1px solid black;
    border-radius: 5%;
}
a:focus{/*Lägger till Love Focus Hate,Isak*/
    scale: 150%;
}
a:link {
    color: rgb(0, 0, 0);
}
a:visited {
    color: rgb(0, 0, 0);
}  
a:hover {
    color: rgb(14, 14, 14);
}
a:active {
    color: rgb(71, 71, 71);
}
